.all-parts-container {
    width: 100vw;
    height: 89vh;
    background: #498C8A;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    color: #FFF;
}